<div class="main_registration">
<form id="register_form" action="clear_post.php?module={{:module:}}" onsubmit="return false">
	<div id="check"></div>
	<div class="main_registration_in">
		<h1 style="display: none">რეგისტრაციისთვის დაუკავშირდით ცენტრს</h1>
		<div class="registration_in" style="width: auto; line-height: 35px">
			გმადლობთ, რომ დაინტერესდით ლოგიკმეტრის რესურსებით.
			სასექტემბრო რეგისტრაცია დაიწყება ივლისის თვის პირველ ნახევარში.
			თუ გსურთ შეტყობინებების მიღება რეგისტრაციის გამოცხადებასთან დაკავშირებით, დაგვიტოვეთ მონაცემები:
			<a href="https://bit.ly/2UzRISy" class="marked_text">https://bit.ly/2UzRISy</a>
		</div>
		<div class="registration_in" style="width: auto">
			<div class="registration_in_title"><p>ტელეფონი:</p></div>
			<div class="registration_in_value">0322 200 229</div>
		</div>
		<div class="registration_in" style="width: auto">
			<div class="registration_in_title"><p>ელ-ფოსტა:</p></div>
			<div class="registration_in_value">info@logicmeter.com</div>
		</div>
		<div class="registration_in" style="width: auto">
			<div class="registration_in_title"><p>მისამართი:</p></div>
			<div class="registration_in_value">თბილისი, დელისის ქ. N 2 (შესახვევი ასათიანიდან)</div>
		</div>
		
		<div style="clear: both; padding-top: 50px"></div>
	</div>
</form>
</div>