<div class="main_registration">
<form id="restore_form" action="clear_post.php?module={{:module:}}" onsubmit="return false">
	<div class="main_registration_in">
		<h1>{{:_RESTORE_PASSWORD:}}</h1>
		
		<div class="Checkout_main">
			<div id="check"></div>
			<div id="ok_message"></div>
			<div class="registration_in_left"><p>{{:_EMAIL:}}</p></div>
			<div class="registration_in_right">{{:mail:}}</div>
		</div>
		
		<div class="registration" style="display: none" id="child_birthdate">
			<h4>{{:_ENTER:}} <span id="child_name" style="color: #2CA5DE"></span> {{:_BIRTHDATE:}}</h4>
			<div class="registration_in_left"><p>{{:_BIRTHDATE:}}</p></div>
			<div class="registration_in_right">
					{{:birthdate_year:}}
					{{:birthdate_month:}} 
					{{:birthdate_day:}}
			</div>
		</div>
		
		<div class="registration_button" style="clear: both; margin-bottom: 20px;">
			<input type="hidden" name="step" id="step" value="1">
			<input class="button" type="submit" id="submit" value="{{:_CONTINUE:}}" />
		</div>
	</div>
</form>
</div>

<script type="text/javascript">
$("#restore_form").submit(function(){
	$("#submit").attr('disabled', true);
	$.post('clear_post.php?module={{:module:}}', {
																		restore_password: 1, 
																		step: obj_value('step'), 
																		mail: obj_value('mail'), 
																		birthdate_day: obj_value('birthdate_day'), 
																		birthdate_month: obj_value('birthdate_month'), 
																		birthdate_year: obj_value('birthdate_year')
																		})
		.done(function(data){
			message = jQuery.parseJSON(data);
			if(message.success == 'error'){
				error_message(data);
			}
			else{
				$("#check").css('display', 'none');
				if(obj_value('step') == 1){
					$("#submit").attr('disabled', false);
					$("#step").val(2);
					$("#child_birthdate").css('display', 'block');
					$("#child_name").html(message.child_name);
				}
				else if(obj_value('step') == 2){
					error_message(data);
				}
			}
		})
})
</script>