<div class="sqil_title_user_name_in">
	<div class="sqil_title">
		<div class="safexuri_name">
			<a href="#">{{:grade_name:}}</a>
		</div>
		<img style="float: left; margin-top: 7px;" src="images/sqil name.png" />
		<div class="sqil_name">
			<h3>{{:skill_name:}}</h3>
		</div>
	</div>
	<div class="main_user_name">
		<div class="user_arrow">
			<a href="#"><img src="images/user_arrow.png" /></a>
		</div>
		<div class="user_name">
			<a href="#"> {{:user_name:}} </a>
		</div>
		<div class="misalmeba">{{:_HELLO:}}</div>
	</div>
</div>
