<div class="profile_main">
	<div class="profile_menu">
		<div><a href="index.php?module={{:module:}}&page=profile&type=children">{{:_CHILDREN:}}</a></div>
		[:parent:]
		<div><a href="index.php?module={{:module:}}&page=profile&type=personal_info">{{:_PERSONAL_INFO:}}</a></div>
		<div><a href="index.php?module={{:module:}}&page=profile&type=payment_info">{{:_PAYMENT_HISTORY:}}</a></div>
		<div><a href="index.php?module={{:module:}}&page=profile&type=payment_info">{{:_PAYMENT_HISTORY:}}</a></div>
		<div><a href="index.php?module={{:module:}}&page=profile&type=awards">{{:_AWARDS:}}</a></div>
		[:parent:]
		<!-- <div>
			<a>{{:_STATISTICS:}}</a>
			<span>{{:_MATH:}}</span>
			<ul>
				<li><a href="index.php?module={{:module:}}&page=profile&type=statistics_common_math">- {{:_OVERVIEW:}}</a></li>
				<li><a href="index.php?module={{:module:}}&page=profile&type=statistics_skill_level_math">- {{:_SKILL_LEVEL:}}</a></li>
			</ul>
			<span>{{:_LITERACY:}}</span>
			<ul>
				<li><a href="index.php?module={{:module:}}&page=profile&type=statistics_common_literacy">- {{:_OVERVIEW:}}</a></li>
				<li><a href="index.php?module={{:module:}}&page=profile&type=statistics_skill_level_literacy">- {{:_SKILL_LEVEL:}}</a></li>
			</ul>
		</div> -->
	</div>
	
	<div class="profile_content">{{:profile_content:}}</div>
</div>