<div style="clear: both; width: 100%; overflow: hidden; background-image: url('images/login_back.jpg')">
	<div style="float: left"><img src="images/login_left.jpg" border=0></div>
	
	<div style="float: left; padding-top: 15px">
	<div class="auth" style="float: left; padding-left: 10px">
		{{:hello:}}, <a href="index.php?module=users&page=profile">{{:name_surname:}}</a>
	</div>
	
	</div>
	<div style="float: right"><img src="images/login_right.jpg" border=0></div>
	<div style="float: right; padding-top: 15px">{{:date:}}</div>
	<div style="float: right; padding-top: 15px">
		<div class="auth" style="float: right; padding-right: 15px;">
			<a href="logout.php" style="color: #424242">{{:logout:}}</a>
		</div>	
		<div class="auth" style="float: right; padding-right: 20px">
			<a href="index.php?module=users&page=chng_pass">{{:chng_password:}}</a>
		</div>
		<div class="auth" style="float: right; padding-right: 5px">
			<img src="images/chng_password.png" border=0>
		</div>
		<div class="auth" style="float: right; padding-right: 20px">
			<a href="index.php?module=users&page=chng_info">{{:chng_info:}}</a>
		</div>
		<div class="auth" style="float: right; padding-right: 5px">
			<img src="images/own_info.png" border=0>
		</div>
	</div>
</div>