<div class="main_registration">
[:error:]
<div class="error" style="padding: 40px">{{:code_error:}}</div>
[:error:]
[:code_ok:]
<form id="set_new_password_form" action="clear_post.php?module={{:module:}}&code={{:code:}}" onsubmit="return false">
	<div class="main_registration_in">
		<h1>{{:_CHANGE_PASSWORD:}}</h1>
		
		<div class="Checkout_main">
			<div id="check"></div>
			<div id="ok_message"></div>
			<div class="registration_in_left"><p>{{:_NEW_PASSWORD:}}</p></div>
			<div class="registration_in_right">{{:new_password:}}</div>
		</div>
		<div class="Checkout_main">
			<div id="check"></div>
			<div class="registration_in_left"><p>{{:_RETYPE_PASSWORD:}}</p></div>
			<div class="registration_in_right">{{:re_password:}}</div>
		</div>
		
		<div class="registration_button" style="clear: both; margin-bottom: 20px;">
			<input type="hidden" id="set_new_password" name="set_new_password" value="0">
			<input class="button" type="submit" id="submit" value="{{:_CHANGE:}}" />
		</div>
	</div>
</form>
[:code_ok:]
</div>

[:code_ok:]
<script type="text/javascript">
$("#set_new_password_form").submit(function(){
	$("#submit").attr('disabled', true);
	post_call('set_new_password', this);
})
</script>
[:code_ok:]