<div class="statistics_main">
	<div class="statistics_menu">
		<div>
			<h1>{{:_MATH:}}</h1>
			<ul>
				<li><a href="index.php?module={{:module:}}&page=statistics&type=statistics_common_math" class="{{:statistics_common_math:}}">{{:_OVERVIEW:}}</a></li>
				<li><a href="index.php?module={{:module:}}&page=statistics&type=statistics_skill_level_math" class="{{:statistics_skill_level_math:}}">{{:_SKILL_LEVEL:}}</a></li>
			</ul>
		</div>
		<div>
			<h1>{{:_LITERACY:}}</h1>
			<ul>
				<li><a href="index.php?module={{:module:}}&page=statistics&type=statistics_common_literacy" class="{{:statistics_common_literacy:}}">{{:_OVERVIEW:}}</a></li>
				<li><a href="index.php?module={{:module:}}&page=statistics&type=statistics_skill_level_literacy" class="{{:statistics_skill_level_literacy:}}">{{:_SKILL_LEVEL:}}</a></li>
			</ul>
		</div>
	</div>
	
	<div class="statistics_content">{{:statistics_content:}}</div>
</div>