<table class="tracings_head" cellspacing=0>
  <tr>
    <td style="width: 210px; text-align: center" class="{{:new_tracings_style:}}">{{:new_tracings:}}</td>
    <td style="width: 200px; text-align: center" class="{{:usa_tracings_style:}}">{{:usa_tracings:}}</td>
    <td style="width: 200px; text-align: center" class="{{:transit_tracings_style:}}">{{:transit_tracings:}}</td>
    <td style="width: 180px; text-align: center" class="{{:georgia_tracings_style:}}">{{:georgia_tracings:}}</td>
    <td></td>
  </tr>
</table>


<table class="admin_table" width="930" cellspacing=0>
  <tr>
    <td style="width: 200px" class="admin_table_head"><div style="padding-left: 8px">{{:tracing_title:}} {{:last_10:}}</div></td>
    <td style="width: 120px" class="admin_table_head"><div style="padding-left: 8px">{{:price_title:}}</div></td>
    <td style="width: 100px" class="admin_table_head"><div style="padding-left: 8px">{{:website_title:}}</div></td>
    <td style="width: 80px; text-align: center" class="admin_table_head">{{:gadafutva_title:}}</td>
   	[:sended:]
    <td style="width: 40px; text-align: center" class="admin_table_head">{{:full_weight_title:}}</td>
    <td style="width: 60px; text-align: center" class="admin_table_head">{{:shipping_price_title:}}</td>
    [:sended:]
    <td style="width: 230px" class="admin_table_head"><div style="padding-left: 8px">{{:description_title:}}</div></td>
    <td style="width: 60px; text-align: center" class="admin_table_head">{{:change:}}</td>
    <td style="width: 60px; text-align: center" class="admin_table_head">{{:_PAY:}}</td>
  </tr>
  [:tracings_list:]
  <tr>
    <td class="{{:new_tracings_td_style:}} div_pad">
    	{{:space:}}{{:tracing_n:}}
    </td>
    <td class="{{:new_tracings_td_style:}} div_pad" {{:fill_error_price:}}>
    	{{:space:}}{{:price:}}
    </td>
    <td class="{{:new_tracings_td_style:}} div_pad" {{:fill_error_website:}}>
    	{{:space:}}{{:website:}}
    </td>
    <td style="text-align: center" class="{{:new_tracings_td_style:}} div_pad">
    	{{:space:}}{{:gadafutva:}}
   	</td>
   	[:sended:]
   	<td style="text-align: center" class="{{:new_tracings_td_style:}} div_pad">
    	{{:space:}}{{:full_weight:}}
   	</td>
   	<td style="text-align: center" class="{{:new_tracings_td_style:}} div_pad">
    	{{:space:}}{{:shipping_price:}}
   	</td>
   	[:sended:]
    <td class="{{:new_tracings_td_style:}} div_pad" {{:fill_error_description:}}>
    	{{:space:}}{{:description:}}
    </td>
    <td style="text-align: center" class="{{:new_tracings_td_style:}} div_pad">
   		{{:space:}}{{:edit_button:}}
   	</td>
   	<td style="text-align: center" class="{{:new_tracings_td_style:}} div_pad">
   		{{:paid:}}
   	</td>
  </tr>
  [:tracings_list:]
</table>
<table width="930" cellspacing=0>
  <tr>
    <td colspan=6>
    	<div style="float: left">{{:back_page:}}</div>
    	<div style="float: right">{{:next_page:}}</div>
    </td>
  </tr>
</table>
