<div class="registration" id="child_{{:child_n:}}">
	<div class="child_n">{{:child_n:}}</div>
	<div class="registration_in_left"><p>{{:_NAME:}}{{:star:}}</p></div>
	<div class="registration_in_right">{{:name:}}</div>
	
	<div class="registration_in_left"><p>{{:_SURNAME:}}{{:star:}}</p></div>
	<div class="registration_in_right">{{:surname:}}</div>
	
	<div class="registration_in_left"><p>{{:_BIRTHDATE:}}{{:star:}}</p></div>
	<div class="registration_in_right">
			{{:birthdate_year:}}
			{{:birthdate_month:}} 
			{{:birthdate_day:}}
	</div>
</div>
