<div>
	<table class="statistic_table" cellpadding="5">
		<tr>
			<th style="width: 80px; text-align: left">{{:_MONEY:}}</th>
			<th style="width: 200px; text-align: left">{{:_PAYMENT_TIME:}}</th>
			<th style="width: 80px"></th>
		</tr>
		[:list:]
		<tr>
			<td>{{:amount:}} <img src="images/gel.png" border=0 alt="ლ" height="12"></td>
			<td>{{:add_time:}}</td>
			<td style="text-align: center">
				<a href="index.php?module=users&page=profile&type=payment_info_details&order_n={{:order_n:}}">{{:_INVOICE:}}</a>
			</td>
		</tr>
		[:list:]
	</table>
</div>
