<div>
	<table class="payment_table">
		<tr>
			<td style="width: 200px">{{:_PACKAGE:}}</td>
			<td>
				{{:package:}} - {{:period:}} {{:_MONTH:}}
			</td>
		</tr>
		<tr>
			<td>{{:_CHILDREN:}}</td>
			<td>{{:children:}}</td>
		</tr>
		<tr>
			<td>{{:_ORDER_N:}}</td>
			<td>{{:order_n:}}</td>
		</tr>
		<tr>
			<td>{{:_PAYMENT_TIME:}}</td>
			<td>{{:add_time:}}</td>
		</tr>
		<tr>
			<td>{{:_PAID_AMOUNT:}}</td>
			<td><strong>{{:payment_amount:}}</strong> <img src="images/gel.png" border=0 alt="ლ"></td>
		</tr>
	</table>
</div>